bestRankForReads.sh:#requires:               python 2.7
buildRefTree.sh:#requires:                   raxml AVX 8.0.22
checkpoint_seqInfo.sh:#requires              python 2.7
cleanAlignQuery_bysample.sh:#requires        seqmagick v0.6.2          and  infernal 1.1.2
cleanAlignRef.sh:#requires                   seqmagick v0.6.2          and  infernal 1.1.2
combine_derep_vsearchFasta.sh:#requires      seqmagick v0.6.2
combineJasons.sh:#requires                   pplacer/guppy 1.1.alpha19
createRefpkgWtables.sh:#requires:            taxtastic v0.8.5
fromCleanToSeqID_RAxMLTree.sh:#requires      python 2.7
fromCleanToStandardTitle_Query.sh:#requires  python 2.7
fromCleanToStandardTitle.sh:#requires        python 2.7
get_dada2_svs.sh:#requires                   R 3.5.1             for  dada2          and  dada2_1.10.1
get_minADCL.sh:#requires                     pplacer 1.1.alpha19
get_SeqInfoCSV.sh:#requires                  python 2.7
get_taxa_fromTaxaDB.sh:#requires             python 2.7
get_TaxaInfoCSV.sh:#requires                 taxtastic v0.8.5
jplaceStats.sh:#requires                     python 2.7
perform_fpd_kr_epca.sh:#requires             python 2.7             and  pplacer/guppy 1.1.alpha19
phyloPlace.sh:#requires                      python 2.7             and  pplacer 1.1.alpha19
prep_tovisualize.sh:#requires                pplacer/guppy/rppr 1.1.alpha19
tallySamplesByTaxa_keepBest.sh:#requires     python 2.7
tallySamplesByTaxa.sh:#requires              python 2.7
vsearch_reffasta_forQueries.sh:#requires     vsearch 2.8.0
